* {
  font-Family: Verdana, Arial, Helvetica, sans-serif;
}

.contentStyle {
  display: block;
  text-align: left;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}

.student {
  padding: 1px;
}

.student h1 {
  font-size: 1em;
}

h2 {
 padding: 5px;
}

.linkSpan {
  margin-Top: "30px";
  padding-Bottom: "30px";
  display: block;
}

.imgStyles {
  display: inline;
  margin: 15px 15px;
  width: 20%;
  border-radius: 8px;
  float: right;
}

.paragraphStyles {
  /* margin-Bottom: 32px; */
  margin: auto 25px;
  display: block;
  clear: both;
}

@media all and (max-width: 780px) { 
  .contentStyle {
    width: 95%;
  }
}
