* {
  font-Family: Verdana, Arial, Helvetica, sans-serif;
}

.contentStyle {
  margin: 5px 5%;
  display: block;
  max-width: 1000px;
  text-align: left;
}

.student {
  padding: 1px;
}

.student h1 {
  font-size: 1em;
  color: aquamarine;
}

h2 {
 padding: 5px;
}

.linkSpan {
  margin-Top: "30px";
  padding-Bottom: "30px";
  display: block;
}

.imgStyles {
  display: inline;
  margin: 15px 15px;
  width: 20%;
  border-radius: 8px;
  float: right;
}

.paragraphStyles {
  /* margin-Bottom: 32px; */
  margin: auto 25px;
  display: block;
  clear: both;
}