
.pageStyles {
  color: "#232129";
  padding: 10px;
  /* font-Family: "-apple-system, Roboto, sans-serif"; */
}

.navStyle {
  margin: 0 auto;
  text-align: center;
}

.headingStyles {
  margin-Top: 0;
  margin-Bottom: 32px;
  max-Width: 520px;
  display: inline-block;
}
.subHeadingStyles {
  margin: 12px;
}
.paragraphStyles {
  margin-Bottom: 32px;
  display: block;
  float:left;
}
.footerStyles {
  margin: 0 auto;
  display: block;
  text-align: center;
  clear: both;
}

.logo {
  color: #5f005f;
}

.footerBlock {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}

.footerSection {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding: 0 5px;
  width: 28%;
  min-width: 120px;
  height: auto;
}

.footerSection:last-of-type {
  text-align: right;
}

.contactStyle {
  display: inline;
}

.linkStyles {
  float: right;
  margin-right: 18px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.aLinks {
  width: 110px;
  margin: 3px 3px;
  border: 1px solid #111111;
  border-radius: 18px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Verdana;
  color: #333;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.aLinks:hover,
.aLinks:focus,
.aLinks:active {
  color: #fff;
  background-color: #333;
}


@media all and (max-width: 680px) { 
  .linkStyles {
    margin-right: 5px;
  }
  .aLinks {
    width: 95px;
    font-size: 10px;
  }
  .headingStyles {
    max-Width: 320px;
  }
}
/* 
@media all and (max-width: 600px) { 
  .linkStyles {
    margin-right: 0px;
    margin-top: 2px;
  }
  .aLinks {
    color: transparent;
    width: 50px;
    height: 8px;
    margin: 2px 1px;
    border-radius: 18px;
    padding: 1px 1px;
  } 

  .aLinks:hover,
  .aLinks:focus,
  .aLinks:active {
    color: transparent;
    background-color: #333;
  }
} */

/* @media all and (min-width: 1080px) { 
} */
