
.pageStyles {
  color: "#232129";
  padding: 10px;
  /* font-Family: "-apple-system, Roboto, sans-serif"; */
}

.navStyle {
  margin: 0 auto;
  text-align: center;
}

.headingStyles {
  margin-Top: 0;
  margin-Bottom: 32px;
  max-Width: 420px;
  display: inline-block;
}
.subHeadingStyles {
  margin: 12px;
}
.paragraphStyles {
  margin-Bottom: 32px;
  display: block;
  float:left;
}
.footerStyles {
  margin-Bottom: 5px;
  display: block;
  float:left;
  clear: both;
}

.contactStyle {
  display: inline;
}

.linkStyles {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  display: block;
}

.linkStyles a {
  display: block;
  margin: 3px 3px;
}
