:root {
  --menu-font-size: 14px;
  --menu-margin-overlap: 0px;
  --menu-margin-overlapB: -25%;
  --menu-button-width: 160px;
  --menu-svg-left: 40px;
}

/* Basic Styling */
.topnav {
  height: 65px;
  margin-bottom: 15px;
  clear:both;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

/* Style the links inside the navigation bar */
.navlink, .active {
  text-decoration: none;
  font-size: var(--menu-font-size);
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ex.navlink {
  border-left: 3px solid #333;
}

#ex.navlink .arrowsvg {
  display: none;
  visibility: hidden;
}

#ex.navlink .startsvg {
  display: initial;
  visibility: visible;
}

#ex.navlink .activelinesvg {
  display: none;
  visibility: hidden;
}

#ex.active {
  border-left: 3px solid rgb(50, 50, 230);
}

#ex.active .arrowsvg {
  display: initial;
  visibility: visible;
}

#ex.active .startsvg {
  display: none;
  visibility: hidden;
}

.navlink {
  width: 50px;
  z-index: 10;
  transition: all 0.4s ease-in-out, border-top 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}


.active {
  width: var(--menu-button-width);
  border-top: 3px solid rgb(50, 50, 230);
  border-bottom: 3px solid rgb(50, 50, 230);
  /* border-left: 3px solid rgb(50, 50, 230); */
  margin-left: 16px;
  margin-right: 26px;
  height: 50px;
  z-index: 100;
  transition: all 1s ease-in-out;
}


.navlink .linktext {
  display: none;
  transition: all 1s ease-in-out;
}

.navlink .EFlinktext {
  display: none;
  transition: all 1s ease-in-out;
}

/* Style the SVG and SVG elements inside the link */

.navlink svg {
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.active svg {
  position: relative;
  width: 55px;
  height: 55px;
  top: 0px;
  left: 30px;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.startsvg {
  display: none;
  visibility: hidden;
}
.arrowsvg {
  display: initial;
}
.activelinesvg {
  display: none;
  visibility: hidden;
  position: relative;
  width: 15px;
  height: 55px;
  top: 0px;
  left: 50px;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.navlink polygon {
  fill: #333;
  stroke: #333;
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.navlink polyline {
  fill: #333;
  stroke: #333;
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.navlink text {
  fill: rgb(180, 180, 180);
  stroke: rgb(180, 180, 180);
}

/* Style text in link */

.active .linktext {
  position: relative;
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  left: 10px;
  color: #313131;
  text-align: left;
  word-wrap: normal;
  z-index: 100;
  display: inline;
  float: left;
  transition: all 1s ease-in-out;
}

.active .EFlinktext {
  position: relative;
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  left: 20px;
  color: #313131;
  text-align: left;
  z-index: 100;
  float: left;
  transition: all 1s ease-in-out;
}

/* Change links on hover */

.navlink:hover {
  width: var(--menu-button-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 26px;
  height: 50px;
  z-index: 100;
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  /* border-left: 3px solid #ddd; */
}
#ex.navlink:hover {
  border-left: 3px solid #ddd;
}

#ex.navlink:hover .startsvg {
  display: none;
  visibility: hidden;
}
#ex.navlink:hover .arrowsvg{
  display: initial;
  visibility: visible;
}
#ex.navlink:hover .activelinesvg{
  display: none;
  visibility: hidden;
}

.navlink:hover .linktext {
  color: black;
  display: inline;
  position: relative;
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  left: 10px;
  color: #313131;
  text-align: left;
  word-wrap: normal;
  z-index: 100;
  float: left;
}

.navlink:hover .EFlinktext {
  color: black;
  display: inline;
  position: relative;
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  left: 20px;
  color: #313131;
  text-align: left;
  z-index: 100;
  float: left;
}

.navlink:hover svg {
  position: relative;
  left: 30px;
  width: 55px;
  height: 55px;
  z-index: 100;
}

.navlink:hover polygon {
  fill: #ddd;
  stroke: #ddd;
}

.navlink:hover .activelinesvg {
  fill: #ddd;
  stroke: #ddd;
  display: none;
  visibility: hidden;
}

.navlink:hover text{
  fill: black;
  stroke: black;
  color: black;
}

/* Add a color to the active/current link */
.active polygon, .navlink polygon:active{
  fill: rgb(50, 50, 230);
  stroke: rgb(50, 50, 230);
}

.active text, .navlink text:active{
  fill: #ddd;
  stroke: #ddd;
}

.navlink:focus{
  fill: #ddd;
  stroke: #ddd;
  color: #ddd;
  /* background-color: aqua; */
}