:root {
  --menu-font-size: 14px;
  --menu-margin-overlap: 0px;
  --menu-margin-overlapB: -25%;
  --menu-button-width: 160px;
  --menu-svg-left: 40px;
}

/* Add a black background color to the top navigation */
.topnav {
  /* width: 90%; */
  height: 65px;
  /* background-color: #333; */
  /* overflow: visible; */
  /* margin: 0 auto; */
  clear:both;
  /* border: 1px solid red; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.navlink, .active {
  /* color: #f2f2f2; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: 0 0; */
  text-decoration: none;
  font-size: var(--menu-font-size);
  margin: auto 0;
  /* float: left; */
  /* color: black; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* width: var(--menu-button-width); */
  /* width: 80px; */
  /* border: 3px dotted #0088dd; */
}

.navlink {
  width: 50px;
  z-index: 10;
}

.active {
  width: var(--menu-button-width);
  border-top: 3px solid rgb(50, 50, 230);
  border-bottom: 3px solid rgb(50, 50, 230);
  border-left: 5px solid rgb(50, 50, 230);
  /* margin: 0 auto; */
  margin-left: 16px;
  margin-right: 26px;
  height: 50px;
  z-index: 100;
  /* display: inline; */
}

.navlink .linktext {
  display: none;
}

.navlink .EFlinktext {
  display: none;
}

.navlink svg {
  /* position: relative; */
  /* left: 30px; */
  width: 50px;
  height: 50px;
  /* top: 1px; */
  /* z-index: 10; */
}

.active svg {
  position: relative;
  left: 30px;
  width: 55px;
  height: 55px;
  top: -3.5px;
  z-index: 100;
}

.active .linktext {
  position: relative;
  /* margin: 0 auto; */
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  /* top: -23px; */
  /* left: 2px; */
  color: #313131;
  /* text-align: center; */
  text-align: left;
  /* vertical-align: -webkit-baseline-middle; */
  word-wrap: normal;
  /* overflow: auto; */
  z-index: 100;
  display: inline;
  float: left;
}

.active .EFlinktext {
  position: relative;
  /* margin: 0 auto; */
  width: 90px;
  max-width: 80px;
  overflow-wrap: normal;
  /* height: 30px; */
  top: -10px; 
  /* left: 10px; */
  color: #313131;
  text-align: left;
  /* vertical-align: -webkit-baseline-middle; */
  /* word-wrap: normal; */
  /* overflow: auto; */
  z-index: 100;
  /* display: block; */
  float: left;
}

/* Change the color of links on hover */
.navlink:hover {
  background-color: #ddd;
}

.navlink:hover .linktext {
  color: black;
  display: inline;
}

.navlink:hover .EFlinktext {
  color: black;
  display: inline;
}

.navlink:hover polygon {
  background-color: #ddd;
  fill: #ddd;
  stroke: #ddd;
}

.navlink:hover text{
  fill: black;
  stroke: black;
  color: black;
}

/* Add a color to the active/current link */
.active polygon, .navlink polygon:active{
  fill: rgb(50, 50, 230);
  stroke: rgb(50, 50, 230);
}

.active text, .navlink text:active{
  fill: #ddd;
  stroke: #ddd;
}

.navlink polygon {
  fill: #333;
  stroke: #333;
}

.navlink text {
  fill: rgb(180, 180, 180);
  stroke: rgb(180, 180, 180);
}

